.business-layout {
    width: 100%;
    margin-top: 50px;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;

  }

  .section-content h1{
    font-size: 2.5rem;
    padding: 0.6rem 0 1.5rem;
  }

  .section-content p{
    font-size: 1.1rem;
  }

  .section:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .section-content, .section-image {
    flex: 1;
    padding: 1rem;
  }
  .business-plan-accordion .accordion-title {
    background-color: rgb(178, 227, 245);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
  }

  .business-plan-accordion .accordion-content {
    padding: 10px;
    border: 1px solid rgb(178, 227, 245);
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
    font-size: 1.1rem;
  }
  
  /* If you want to change the color when hovering over an accordion title */
  .business-plan-accordion .accordion-title:hover {
    background-color: #73cff3dc; /* A darker shade of blue for hover state */
  }
  
  .section-image {
    text-align: center; /* Center the image if smaller than its container */
  }

  .section-image img {
    max-width: 100%;
    height: auto;
  }
  